* {
    font-family: 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    
}
/*Fond de page*/
body {
    background-color: #1c84c9;

}

/* Barre de navigation */
.navbar {
    text-align: center;
    align-items: center;
    font-size: x-large;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: -moz-linear-gradient(top, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    background: -webkit-linear-gradient(top, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    background: linear-gradient(to bottom, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    /*background-color: rgb(59, 158, 234);
    border-color: rgb(7, 33, 228);*/
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(197, 189, 189, 0.151), 0 0 5px rgba(218, 214, 214, 0.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(233, 221, 221, 0.15);
}

 nav img {
    max-width : 250px;
    height: auto; 
}

li a {
    display: block;
    color: rgb(1, 61, 145);
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Couleur passage souris sur lien de la barre Nav */
li a:hover {
    color: white;
}

/*media@ navbar */
 @media screen and (max-width: 800px) {
    .navbar  {
        float: none;
        display: block;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        margin: 0px -15px; 
        margin-top: 0;
        font-size: 15px;  
        text-shadow: none;    
    }
}
 @media screen and (max-width:600px) {
    nav img {
        max-width: 80px;  
    }
}

/* section high page*/
.high-page {
    display: grid;
    
    
}

section img {
    max-width: 500px;
    height: auto;
}