* {
    font-family: 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    
}
/*Fond de page*/
body {
    background-color: #1c84c9;

}

/* Barre de navigation */
.navbar {
    text-align: center;
    align-items: center;
    font-size: x-large;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: -moz-linear-gradient(top, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    background: -webkit-linear-gradient(top, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    background: linear-gradient(to bottom, #1c84c9 0%, #5ba8dc 73%, #144E75 100%);
    /*background-color: rgb(59, 158, 234);
    border-color: rgb(7, 33, 228);*/
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(197, 189, 189, 0.151), 0 0 5px rgba(218, 214, 214, 0.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(233, 221, 221, 0.15);
}

 nav img {
    max-width : 250px;
    height: auto; 
}

li a {
    display: block;
    color: rgb(1, 61, 145);
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Couleur passage souris sur lien de la barre Nav */
li a:hover {
    color: white;
}

/*media@ navbar */
 @media screen and (max-width: 800px) {
    .navbar  {
        float: none;
        display: block;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        margin: 0px -15px; 
        margin-top: 0;
        font-size: 15px;  
        text-shadow: none;    
    }
}
 @media screen and (max-width:600px) {
    nav img {
        max-width: 80px;  
    }
}

/* section high page*/
.high-page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 10px;
    padding: 2px;
    background-color: rgba(240, 248, 255, 0.797);
}

section img {
    width: 100%;
    height: auto;
}

.propos p {
    padding: 10px 10px 10px 10px;
    word-break: break-all;
    color: #094f7d;
}

.high-page h2 {
    color: #094f7d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.second-nav a {
    color: #094f7d;
    text-decoration: none;
}

menu ol {
    text-align: center;
    align-items: center;
    padding: 2px;
}

ol a:hover {
    color: white;
}

/* footer*/
.footer-basic {
    padding:15px 0;
    background-color: rgba(240, 248, 255, 0.797);
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    display: flex;
    justify-content: space-around;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  